@tailwind base;
@tailwind components;
@tailwind utilities;

/* paleta de colores 
verde agua: #43d685 
azul: #072a30
*/

@layer components {
  .text-blue {
    @apply text-[#072a30];
  }

  .bg-blue {
    @apply bg-[#072a30];
  }

  .text-green {
    @apply text-[#43d685];
  }

  .bg-green {
    @apply bg-[#43d685];
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: rgb(17 24 39);
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  pointer-events: none;
  background-color: transparent;
  background-clip: content-box;
  background-color: #43d685;
}
