@tailwind base;
@tailwind components;
@tailwind utilities;

/* paleta de colores 
azul principal: #0066FF
azul claro: #E5F0FF
gris: #6B7280
azul oscuro: #1E293B
*/

@layer components {
  .text-primary {
    @apply text-[#0066FF];
  }

  .bg-primary {
    @apply bg-[#0066FF];
  }

  .text-secondary {
    @apply text-[#6B7280];
  }

  .bg-secondary {
    @apply bg-[#6B7280];
  }

  .text-dark {
    @apply text-[#1E293B];
  }

  .bg-dark {
    @apply bg-[#1E293B];
  }

  .bg-light {
    @apply bg-[#E5F0FF];
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: #e5f0ff;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  pointer-events: none;
  background-color: transparent;
  background-clip: content-box;
  background-color: #0066ff;
}
